@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: inherit;
}

.block-about-us {
  position: relative;
  background-color: #ffffff;
}

/* декор блока */
.decor-wrap__patern {
  position: absolute;
  top: 189px;
  left: 0;
}

.decor-wrap__berry {
  position: absolute;
  top: 445px;
  z-index: 2;
}

/* тема блока два */
.aboutus {
display: flex;
align-items: center;
flex-direction: column ;
padding-top: 5.2em;

}

.aboutus__header {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  margin: 0;
  color: #0d0d0d;
  font-weight: 700;
}

.aboutus__paragraf {
  text-align: center;
  color: #323232;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 18px;
  margin-block-end: 0;
  margin-top: 23px;
}
/* ---- */
/* .whychocco {
  display: flex;
  justify-content: center;
  margin-top: 57px;
} */

.picture__caption {
  color: #000000;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 27px;
  font-weight: 700;
  text-align: center;
  margin: 35px 0 25px 0;
}

.picture__text {
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 18px;
  color: #323232;
  font-weight: 300;
}

.pictures {
  width: 125px;
  height: 125px;
  display: inline-block;
  background-color: #f2f5f4;
  border-radius: 50%;
  padding: 25px;
}

.whychocco__picture {
  width: 258px;
  margin: 0;
  text-align: center;
  padding-bottom: 60px;
}

/* .whychocco__picture img {
  padding: 25px;
} */

.whychocco__points {
  position: relative;
  margin: 52px 0 0 0;
  width: 18px;
  height: 18px;
  background-color: #f2f5f4;
  border-radius: 50%;
  animation: points1 3s linear .3s infinite alternate;
}



.whychocco__points::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #f2f5f4;
  border-radius: 50%;
  margin: 2px -18px;
  animation: points1 3s linear infinite alternate;
}

.whychocco__points::after{
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #f2f5f4;
  border-radius: 50%;
  margin: 2px 22px;
  animation: points1 3s linear .6s infinite alternate;
}
/* animation */
@keyframes points1{
  from {
    opacity: 1;
    animation-delay: .5s;
    animation-timing-function: linear;
    box-shadow:1px 1px 3px #323232;
  }

  50% {
    opacity: 0;
    background-color: #323232;
    animation-timing-function: linear;
    box-shadow:1px 1px 35px #323232;
  }

  to {
    opacity: 1;
    animation-timing-function: linear;
    box-shadow:1px 1px 2px #323232;
  }
}
/* ------ */

.bz-border {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}



.bz-content {
  box-sizing: content-box;    
  display: flex;
  justify-content: center;
}

.bz__header {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  margin: 0;
  color: #0d0d0d;
  font-weight: 700;
  text-align: center;
}