@font-face {
  font-family: 'Alegreya Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
}

.container {
  margin-right: auto;
  margin-left:  auto;
  max-width: 1080px;
  padding-right: 10px;
  padding-left:  10px;
}

/* first block  */
.up-block {
  position: relative;
  height: 766px;
  background-color: #f8faf9;
}

#image {
  position: absolute;
  width: 196px;
  height: 578px;
  right: 0;
  bottom: -340px;
  z-index: 1;
}

#berry1 {
  width: 135px;
  height: 112px;
  position: absolute;
  z-index: 2;
  top: 173px;
  left: 46px ;
  right: 15px ;
  bottom: 293px;
}

/* second block */
.general-block {
  height: 766px;
  background-color: #ffffff;
  position: relative;
}
#main-box {
position: relative;
display: inline-block;
margin-left: 64px;
margin-top: 220px;
}

.head {
  color: #0d0d0d;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  position: absolute;
  top: 109px;
  left: 440px;
  display: inline-block;
}

/* photo bar */

.photo-margin {
  padding-right: 16px;
  float: left;
}

.photo {
  margin-top: 60px;
}

.mini-box {
  position: relative;

}

.name {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 19px;
  font-weight: 500;
  text-align: center;
  color: #0d0d0d;
}

.text-menu-head {
  color: #281e1e;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  display: block;
  margin-top: 17px;
}

.text-menu {
  display: block;
  max-width: 223px;
  color: #666666;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}
/* Style for "Polygon 1" */
svg{
background-color: #0f5a47;
}
/* down-block */

#down-block {
  position: relative;
  height: 766px;
}

#berry2 {
  width: 105px;
  height: 114px;
  position: absolute;
  z-index: 2;
  top: -70px;
  left: 33px ;
}
