#block_two {
  position: relative;
  height: 648px;
  background-color: #ffffff;
}

/* декор блока */
.decorTwoListWrap__patern {
  position: absolute;
  top: 189px;
  left: 0;
}

.decorTwoListWrap__berry {
  position: absolute;
  top: 445px;
  z-index: 2;
}
/* ----- */
/* тема блока два */
.aboutUs {
display: flex;
align-items: center;
flex-direction: column ;
padding-top: 5.2em;
}

.aboutUs__header {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  margin: 0;
  color: #0d0d0d;
}

.aboutUs__paragraf {
  text-align: center;
  color: #323232;
  font-family: "Alegreya Sans",-webkit-pictograph;
  font-size: 20px;
  margin-block-end: 0;
}
/* ---- */
.sectionWhyChocco {
  display: flex;
  justify-content: center;
  margin-top: 57px;
}

.picture__caption {
  color: #000000;
  font-family: "Alegreya Sans";
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  margin: 35px 0 25px 0;
}
.picture__text {
  text-align: center;
    font-family: "Alegreya Sans", sans-serif;
    font-size: 17px;
    color: #323232;
}
.sectionWhyChocco__picture div {
  width: 125px;
  height: 125px;
  text-align: center;
  display: inline-block;
  background-color: #f2f5f4;
  border-radius: 59px;
  margin: 0 0 0 66px;
}

.sectionWhyChocco__picture {
  width: 257px;
  margin: 0;
}
.sectionWhyChocco__picture img {
  margin-top: 25px;
}

.sectionWhyChocco__points {
  max-width: 67px;
  max-height: 21px;
  margin: 109px 0 0 0;
}