
.main-block {
  background-color: #61c4d9;
  position: relative;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1.5625rem 7.5rem 1.5625rem 7.4375rem; */
  padding: 1.5625rem 3.9999rem 1.5625rem 4.4999rem;
  z-index: 5;
  position: fixed;
  background-color:#61c4d9;
  /* width: 1080px; */
  opacity: 90%;
}

.header__logo {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 1.3125rem;
  text-align: center;
  text-decoration: none;
}

.header__navigation {
  z-index: 3;
}

.navigation__menu{
  list-style-type: none;
  padding-left: 1.875rem;
}

/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.links::after {
  content: "";
  background-color: currentColor;
  display: block;
  height: 0.125rem;
  width: 0;
  transition-timing-function: linear; 
  transition-duration: .2s; 
  transition-property: width;
}

.links:hover::after {
  width: 100%;
}


.links:hover {
  color: #FF8C00;
}

.header__logo:hover {
  cursor: pointer;
  
}

.header__logo:active {
  color: #FF8C00;
}
/* -------- */

.links {
  text-decoration: none;
  color: #ffffff;
  transition: .2s;
}

.navigation__links{
  float: left;
  margin-right: 1.625rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
}

.header__phone {
  z-index: 3;
}

.header__phone-num {
  
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.875rem;
  text-transform: uppercase;
  z-index: 3;
}

.main-section {
  width: 25.25rem;
  display: flex;
  flex-direction: column;
  padding-top: 10.1875rem;
  padding-left: 5.3125rem;
  
}

.main-section__header {
  color: #ffffff;
  
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  height: 10rem;
  padding-bottom: 1.375rem;
}

.main-section__slogan {
  color: #ffffff;
  font-size: 1.0625rem;
  font-weight: 400;
}
.main-section__button {
  padding-top: 2rem;
}

.button{
  width: 9.75rem;
  height: 3.625rem;
  border: 0.0625rem solid;
  border-radius: 2.625rem;
  color: #0f5a47;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
  z-index: 4;
  transition: .5s;
}

.icons-footer {
  display: flex;
  justify-content: space-around;
  margin-left: 5.0625rem;
  margin-top: 4.5rem;
  width: 28.75rem;
  padding-bottom: 3.125rem;
}

.icons {
  float: left;
  padding: 0.3125rem;
}

.icons-footer__text {
  color: #ffffff;
  font-size: 0.9375rem;
  font-weight: 400;
}

/* .decor-first{
  
} */

.decor-first__patern {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 35.5rem;
}

.decor-first__bars {
  position: absolute;
  top: 3.4375rem; 
  right: 1.75rem;
  z-index: 2;
}

/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.decor-first__list-barries:hover {
  transform: scale(1.2) rotate(4deg);
}
/* ----------------- */

.decor-first__list{
  position: absolute;
  bottom: -2.75rem;
  right: 0.875rem;
  z-index: 3;
}

.decor-first__list-barries {
  position: absolute;
  right: 5.625rem;
  bottom: 0.1875rem;
  transition: transform 1s;
  z-index: 3;
}

.sidebar {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 13.5rem;
  right: 3.1875rem;
  z-index: 4;
  text-align: center;
}

.sidebar__cercle {
  width: 1rem;
  height: 1rem;
  background: none;
  z-index: 2;
}

.sidebar__items {
  list-style-type: none;
}

.sidebar__cercle img {
  padding-bottom: 0.1875rem;
}
/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.sidebar__cercle:hover{
  background-image: url(./../images/head_block_images/Ellipse_3.png);
}
/* ---------------- */
