.block-slider {
  position: relative;
  background-color: #f8faf9;
}
/* decor-block */
.decorwrap__pattern {
  position: absolute;
  width: 12.25rem;
  height: 36.125rem;
  right: 0;
  bottom: -21.25rem;
  z-index: 1;
}

.pattern__berry {
  overflow: hidden;
  position: absolute;
  width: 7.2rem;
  z-index: 2;
  top: 10.8125rem;
  right: 0;
  transition: transform 1s;
}

/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.pattern__berry:hover {
  transform: scale(1.2) rotate(4deg);
}
/* ------------- */

.decorwrap__arrow-left {
  margin: 19.8125rem 0 0 0; 
  position: absolute;
  width: 0.8125rem;
  height: 1.75rem;
  z-index: 3;
  
}

.arrow-button{
  border: none;
  background-color: snow;
}

.decorwrap__arrow-right { 
  margin: 19.8125rem 0 0 58.1875rem;
  position: absolute;
  width: 0.8125rem;
  height: 1.75rem;
  z-index: 3;
}

/* main */
.slider {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

/* left */

.slider__left {
  width: 50%;
  position: relative;
}

.slider__left-ellipse {
  position: absolute;
  top: 11.6875rem;
  left: 4.1875rem;
}

.slider__left-bars {
  position: absolute;
  top: 7rem;
  left: 3.8125rem;
}

.slider__left-lists {
  position: absolute;
  top: 12.875rem;
  left: 0.25rem;
}

/* right */

.slider__right {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 8.125rem;
  padding-left: 5.125rem;
}

.slider__right-header {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.slider__right-structure {
  margin: 2.5625rem 0 0 0 ;
  font-size: 1.5rem;
  font-weight: 500;
  color: #323232;
}

.slider__right-text {
  margin: 2.0265rem 0 0 0;
  font-size: 1.125rem;
  font-weight: 400;
  color: #323232;
  /* text-align: left; */
}

.slider__right-wrap {
  display: flex;
  width: 100%;
  margin-top: 2.8125rem;
}

.string {
  color: #333333;
  font-size: 1.125rem;
  font-weight: 400;
}

.numbers {
  color: #333333;
  font-size: 0.875rem;
  font-weight: bold;
}

.rub {
  font-size: 3.4375rem;
  font-weight: 300;
  line-height: 3.75rem;
  text-transform: uppercase;
  color: #0d0d0d;  
  margin-top: 2.1875rem;
}

.wrap__right {
  margin-left: 1.875rem;
}

.wrap__right-button {
  margin-top: 2.1875rem;
  padding-bottom: 5.5rem;
}

.write-side__button_color_green {
  background-color: #0f5a47;
  color: #ffffff;
}

.rub__sign {
  font-size: 3.125rem;
  font-style: initial;
  font-weight: 300;
}
/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.button:hover {
  background-color: #FF8C00;
  box-shadow: 0.125rem 0.1875rem black;
}
/* ----------- */

@media screen and (max-width: 768px) {
  .slider {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .slider__right {
    padding: 4.5rem 0 0 0;
    margin-top: 450px;
    align-items: center;
    text-align: center;
    width: 60%;
  }

  .slider__right-wrap {
    justify-content: center;
  }

  .slider__left-ellipse {
    width: 304px;
    height: 246px;
    top: 132px;
    left: 0;
  }

  .slider__left-bars {
    width: 290px;
    height: 306px;
    top: 54px;
    left: 0;
  }

  .slider__left-lists {
    top:146px;
    left: -50px;
  }
  
  .decorwrap__pattern {
    width: 9.75rem;
    height: 28.875rem;
    right: 0;
    bottom: -14.25rem;
    overflow: hidden;
  }

  .decorwrap__arrow-right {
    margin-top: 14.375rem;
    right: -12%;
  }

  .decorwrap__arrow-left {
    margin-top: 14.375rem;
    left: -15%;
  }
}


