.block-slider {
  position: relative;
  background-color: #f8faf9;
}
/* decor-block */
.decorwrap__pattern {
  position: absolute;
  width: 196px;
  height: 578px;
  right: 0;
  bottom: -340px;
  z-index: 1;
}

.pattern__berry {
  width: 135px;
  height: 112px;
  position: absolute;
  z-index: 2;
  top: 173px;
  left: 46px ;
  transition: transform 1s;
}

/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.pattern__berry:hover {
  transform: scale(1.2) rotate(4deg);
}
/* ------------- */

.decorwrap__arrow-left {
  margin: 317px 0 0 46px; 
  position: absolute;
  width: 13px;
  height: 28px;
  z-index: 3;
  
}

.arrow-button{
  border: none;
  background-color: snow;
}

.decorwrap__arrow-right { 
  margin: 317px 0 0 1011px;
  position: absolute;
  width: 13px;
  height: 28px;
  z-index: 3;
}

/* main */
.slider {
  width: 950px;
  display: flex;
  margin-left: 6%;
}

/* left */

.slider__left {
  width: 50%;
  position: relative;
}

.slider__left-ellipse {
  position: absolute;
  top: 187px;
  left: 67px;
}

.slider__left-bars {
  position: absolute;
  top: 112px;
  left: 61px;
}

.slider__left-lists {
  position: absolute;
  top: 206px;
  left: 4px;
}

/* right */

.slider__right {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 130px;
  padding-left: 66px;
}

.slider__right-header {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.slider__right-structure {
  margin: 41px 0 0 0 ;
  font-size: 24px;
  font-weight: 500;
  color: #323232;
}

.slider__right-text {
  margin: 33px 0 0 0;
  
  font-size: 18px;
  font-weight: 400;
  color: #323232;
  text-align: left;
}

.slider__right-wrap {
  display: flex;
}

.string {
  color: #333333;
  
  font-size: 18px;
  font-weight: 400;
  margin: 45px 25px 0 0;
}

.numbers {
  color: #333333;
  font-size: 14px;
  font-weight: bold;
}

.rub {
  font-size: 55px;
  font-weight: 300;
  line-height: 60px;
  text-transform: uppercase;
  color: #0d0d0d;  
  margin-top: 35px;
}

.wrap__right {
  margin-left: 30px;
}

.wrap__right-button {
  margin-top: 35px;
  padding-bottom: 88px;
}

.write-side__button_color_green {
  background-color: #0f5a47;
  color: #ffffff;
}

.rub__sign {
  font-size: 50px;
  font-style: initial;
  font-weight: 300;
}
/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.button:hover {
  background-color: #FF8C00;
  box-shadow: 2px 3px black;
}
/* ----------- */



