.block-about-us {
  position: relative;
  background-color: #ffffff;
}

/* декор блока */
.decor-wrap__patern {
  position: absolute;
  top: 11.8125rem;
  left: 0;
}

.decor-wrap__berry {
  position: absolute;
  bottom: -3.375rem;
  z-index: 2;
  transition: 1s;
}

/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.decor-wrap__berry:hover {
  transform: scale(1.2) rotate(4deg);
}
/* ------------------ */

/* тема блока два */
.aboutus {
display: flex;
align-items: center;
flex-direction: column ;
padding-top: 5.2em;

}

.aboutus__header {
  
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: 0;
  color: #0d0d0d;
  font-weight: 700;
}

.aboutus__paragraph {
  text-align: center;
  color: #323232;
  font-size: 1.125rem;
  margin-top: 1.4375rem;
}
/* ---- */

.whychocco {
  display: flex;
  justify-content: center;
  margin-top: 3.5625rem;
}

.picture__caption {
  color: #000000;
  font-family: "Alegreya Sans";
  font-size: 1.6835rem;
  font-weight: bold;
  text-align: center;
  margin: 2.1875rem 0 1.5625rem 0;
}

.picture__text {
  text-align: center;
  font-size: 1.125rem;
  color: #323232;
  font-weight: 300;
}

.pictures__elm1, 
.pictures__elm2, 
.pictures__elm3 {
  box-sizing: border-box;
  width: 7.8125rem;
  height: 7.8125rem;
  display: inline-block;
  background-color: #f2f5f4;
  border-radius: 50%;
  padding: 1.5625rem;
}

.pictures__elm1 {
  animation: flip1 8s linear 5s infinite ;
}

.pictures__elm2 {
  animation: flip2 8s linear 5s infinite  ;
}

.pictures__elm3 {
  animation: flip3 8s linear 5s infinite;
}

.whychocco__picture1, 
.whychocco__picture2, 
.whychocco__picture3 {
  width: 16.125rem;
  margin: 0;
  text-align: center;
  padding-bottom: 11.4375rem;
}

.whychocco__picture1 {
  animation: fadeInDown 1s linear backwards;
}

.whychocco__picture2 {
  animation: fadeInDown 1s 1.5s linear backwards;
}

.whychocco__picture3 {
  animation: fadeInDown 1s 3.5s linear backwards;
}

.whychocco__points {
  margin: 3.25rem 0 0 0;
  position: relative;
}

.dots1,
.dots2,
.dots3 {
  display: inline-block;
  width: 0.8125rem;
  height: 0.8125rem;
  margin: 0 0.3125rem;
  border-radius: 50%;
  background-color: #f2f5f4;
}

.dots1 {
  animation: dots-fly 1.5s 4.5s ease-in infinite alternate;
}

.dots2 {
  box-shadow: 0 0 0 0.25rem #f2f5f4;
  animation: dots-fly 1.5s 5s ease-in infinite alternate-reverse;
}

.dots3 {
  animation: dots-fly 1.5s 5.5s ease-in infinite alternate;
}



/* animation */
@keyframes dots-fly {
  from {
   transform: perspective(400px) translate3d(0, 0, 0);
   background-color: #a3a3a3;
   box-shadow: 0 0 0 0 #a3a3a3;
  }

  20% {
    transform: perspective(400px) translate3d(0, 0, 20px);
    animation-timing-function: ease-in;
    
  }

  30% {
    transform: perspective(400px) translate3d(0, 0, 50px);
    animation-timing-function: ease-in;
    
  }

  40% {
    transform: perspective(400px) translate3d(0, 0, 80px);
    animation-timing-function: ease-in;
    
  }

  50% {
    transform: perspective(400px) translate3d(0, 0, 100px);
    animation-timing-function: ease-out;
   
  }

  60% {
    transform: perspective(400px) translate3d(0, 0, 80px);
    animation-timing-function: ease-out;
    
  }

  70%{
    transform: perspective(400px) translate3d(0, 0, 50px);
    animation-timing-function: ease-out;
    
  }

  80% {
    transform: perspective(400px) translate3d(0, 0, 20px);
    animation-timing-function: ease-out;
    
  }

  to {
    transform: perspective(400px) translate3d(0, 0, 0);
    animation-timing-function: ease-in;
    background-color: #a3a3a3;
  }
}

@keyframes flip1 {
  0% {
    transform:  
    rotate3d(0, 1, 0, 0);
  }

  10% {
    transform: rotate3d(0, 1, 0, -190deg);
  }

  20% {
    transform: 
      rotate3d(0, 1, 0, -360deg);
  }

  33% {
    transform: 
      rotate3d(0, 1, 0, 0deg); 
    animation-delay: 5s;
  }

}

@keyframes flip2 {
  
  33% {
    transform: 
    rotate3d(0, 1, 0, 0deg);
  }

  44% {
    transform:
      rotate3d(0, 1, 0, -190deg);
  }

  55% {
    transform: 
      rotate3d(0, 1, 0, -360deg); 
  }

  66% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
}

@keyframes flip3 {
  
  66% {
    transform: 
    rotate3d(0, 1, 0, 0deg);
  }

  77% {
    transform: perspective(400px) 
      rotate3d(0, 1, 0, -190deg);
  }

  88% {
    transform: perspective(400px) 
      rotate3d(0, 1, 0, -360deg);  
  }

  100% {
    transform: perspective(400px) 
      rotate3d(0, 1, 0, 0deg); 
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@media screen and (max-width: 768px) {
  .whychocco__points {
    display: none;
  }

  .whychocco {
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
  }

  .whychocco__picture1,
  .whychocco__picture2,
  .whychocco__picture3 {
    padding: 0;
    padding-bottom: 3rem;
    width: 36%;
  }

}
