
.main-block {
  background-color: #61c4d9;
  position: relative;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.125rem;
  z-index: 5;
  background-color:#61c4d9;
}

.header__logo {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 1.3125rem;
  text-align: center;
  text-decoration: none;
}

.header__navigation {
  z-index: 3;
}

.navigation__menu{
  list-style-type: none;
  padding-left: 1.875rem;
}

/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.links::after {
  content: "";
  background-color: currentColor;
  display: block;
  height: 0.125rem;
  width: 0;
  transition-timing-function: linear; 
  transition-duration: .2s; 
  transition-property: width;
}

.links:hover::after {
  width: 100%;
}


.links:hover {
  color: #FF8C00;
}

.header__logo:hover {
  cursor: pointer;
  
}

.header__logo:active {
  color: #FF8C00;
}
/* -------- */

.links {
  text-decoration: none;
  color: #ffffff;
  transition: .2s;
}

.navigation__links{
  float: left;
  margin-right: 1.625rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
}

/* mobile menu */
.mobile {
  display: none;
}
.mobile__logo {
  position: absolute;
  color: #ffffff;
  top: 2.3%;
  left: 2.4%;
}

.menu-icon {
  color: #ffffff;
  position: absolute;
  top: 3%;
  right: 2.3%;
  transition: transform .6s;
  z-index: 1;
}

.menu-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.menu-icon:active + .mobile-navigation {
  display: block;
}

.mobile-navigation {
  position: absolute;
  display: none;
  background-color: #2f3336;
  width: 100%;
  height: 4500px;
  z-index: 6;
}
.mobile-navigation:hover {
  display: block;
}

.close {
  position: absolute;
  background: url(./../images/mobile-menu/Rounded_Rectangle_1.png);
  top: 32px;
  right: 26px;
  width: 18px;
  height: 18px;
}

.close:hover {
  cursor: pointer;
}

.close:active + .mobile-navigation {
  display: none;
}

.mobile-navigation__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  font-size: 2.25rem;
  line-height: 4.5rem;
  padding-top: 2%;
  
  
}

.mobile-navigation__links:active .mobile-navigation {
  display: none;
}

.mobile_links {
  text-decoration: none;
  color: #ffffff;
}

/* ------------- */

.header__phone {
  z-index: 3;
}

.header__phone-num {
  
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.875rem;
  text-transform: uppercase;
  z-index: 3;
}

.main-section {
  position: relative;
  display: flex;
}

.main-section__content {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-top: 10.1875rem;
  padding-left: 5.3125rem;
}

.main-section__header {
  color: #ffffff;
  
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 1.375rem;
}

.main-section__slogan {
  color: #ffffff;
  font-size: 1.0625rem;
  font-weight: 400;
}

.main-section__button {
  padding-top: 2rem;
}

.button{
  width: 9.75rem;
  height: 3.625rem;
  border: 0.0625rem solid;
  border-radius: 2.625rem;
  color: #0f5a47;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
  z-index: 4;
  transition: .5s;
}

.icons-footer {
  display: flex;
  justify-content: space-around;
  margin-left: 5.0625rem;
  margin-top: 4.5rem;
  width: 28.75rem;
  padding-bottom: 3.125rem;
}

.icons-footer__icons {
  display: flex;
}

.icons {
  padding: 0.3125rem;
}

.icons-footer__text {
  color: #ffffff;
  font-size: 0.9375rem;
  font-weight: 400;
}

/* .decor-first{
  
} */

.decor-first__patern {
  position: absolute;
  top: 0rem;
  right: 0rem;
  z-index: 0;
}

.decor-first__bars {
  position: absolute;
  right: 1.75rem;
  top: 0rem;
  z-index: 0;
}

/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.decor-first__list-barries:hover {
  transform: scale(1.2) rotate(4deg);
}
/* ----------------- */

.decor-first__list{
  position: absolute;
  bottom: -14.5rem;
  right: 0.875rem;
  z-index: 1;
}

.decor-first__list-barries {
  position: absolute;
  right: 5.625rem;
  bottom: -14.3rem;
  transition: transform 1s;
  z-index: 1;
}

.sidebar {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 13.25rem;
  right: 2.875rem;
  z-index: 4;
  text-align: center;
}

.sidebar__cercle {
  width: 1rem;
  height: 1rem;
  background: none;
  z-index: 2;
  padding-bottom: 0.3125rem;
}

.sidebar__items {
  list-style-type: none;
}

.sidebar__cercle img {
  padding-bottom: 0.1875rem;
}
/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.sidebar__cercle:hover{
  background-image: url(./../images/head_block_images/Ellipse_3.png);
}
/* ---------------- */
.tablets {
  display: none;
}

@media screen and (max-width: 768px) {
  .header, 
  .sidebar,
  .desktop {
    display: none;
  }

  .mobile,
  .tablets {
    display: block;
  }

  .main-section {
    flex-wrap: wrap;
  }

  .main-section__content{
    padding: 0;
    padding-top: 542px;
    flex-basis: 60%;
    text-align: center;
    padding-left: 20%;
    order: 1;
  }

  .main-section__decor {
    position: relative;
    flex-basis: 100%;
  }

  .decor-first__bars {
    left: 22%;
    top: 53px;
  }

  .decor-first__bars img {
    width: 402px;
    height: 420px;
  }

  .decor-first__list {
    top: 238px;
    right: 172px;
    bottom: 0;
  }
  
  .decor-first__list-barries {
    top: 238px;
    right: 171px;
  }

  .icons-footer {
    margin: 0;
    width: 85%;
    padding: 3.71rem 7.3%;
  }

  .icons-footer__icons {
    width: 28%;
  }
}
