.decor-five-block {
  position: relative;
  height: 40.9375rem;
}

.berry {
  width: 6.5625rem;
  height: 7.125rem;
  position: absolute;
  z-index: 2;
  top: -4.375rem;
  left: 2.0625rem ;
  transition: transform 1s;
}

.berry:hover {
  transform: scale(1.2) rotate(4deg);
}