.decor-five-block {
  position: relative;
  height: 655px;
}

.berry {
  width: 105px;
  height: 114px;
  position: absolute;
  z-index: 2;
  top: -70px;
  left: 33px ;
  transition: transform 1s;
}

.berry:hover {
  transform: scale(1.2) rotate(4deg);
}