
.command {
  height: 766px;
  background-color: #ffffff;
  position: relative;
}
.command__photo-box {
display: flex;
margin-top: 85px;
justify-content: center;
}

.command__header {
  color: #0d0d0d;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 70px;
  margin-left: 440px;
  display: inline-block;
}

.photo {
  width: 240px;
  margin: 0;
}
.margin-top {
  margin-top: 60px;
} 

.photo__lover-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.photo__name {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #0d0d0d;
  display: inline-block;
  text-align: center;
}

.menu-content {
  display: flex;
  flex-direction: column;
}

.menu-conten__header {
  color: #281e1e;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
  margin-top: 10px;
 
}

.menu-conten__text {
  display: inline-block;
  color: #666666;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 6px;
}

/* Style for "Polygon 1" */

svg{
background-color: #0f5a47;
}

/* down-block */


